<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <title>
            ABOUT PAGE
        </title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img src="./img/vintage-robot-toy-white-background_1308-77501.avif" class="potrait">
        </div>
        {{>footer}}
    </body>
</html>