<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
    {{>header}}
    <h1>{{errmsg}}</h1>
    </div>
    {{>footer}}
    </body>
</html>