<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">

        <title>
            HELP PAGE
        </title>
    </head>
    <body>
        <h1>Help, {{name}}</h1>
    </body>
</html>